In [ ]:
from datascience import *
import numpy as np

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')

## Numbers ##

In [ ]:
# Divide 20 by 3
...

In [ ]:
# Divide 20 by 2.  Are you surprised by the answer?
...

In [ ]:
# How large are the numbers Python can handle?
# Raise 1234 to the 5th power
...

In [ ]:
# Raise 123456789 to the 1234th power
...

In [ ]:
# Divide 4 by 700
...

In [ ]:
# Divide 4 by 7000000000000000
...

In [ ]:
# Run this cell.  What do you notice about the result?
0.12345678901234567890123456789

In [ ]:
# Run this cell.  Did you get the answer you expected?
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
# Run this cell. What is this cell doing?
16 ** 0.5

In [ ]:
# Run this cell.  Did you get the results you expected?
(10 ** 0.5) ** 2

In [ ]:
# What type of value is produced by this cell?
20 / 10

In [ ]:
# If we divide 20 by 10, how would we make the result give us only 2?
...

In [ ]:
# How would we turn 3 into 3.0?
...

In [ ]:
# Assign 5 to x
...

In [ ]:
# Run this cell.  Did you get the results you expected?
2x

In [ ]:
# Run this cell.  Why is the result here different?
2 * x

In [ ]:
# Run this cell
round(3.7)

In [ ]:
# Run this cell.  What do you notice?
round(2.00000052345324, 5)

In [ ]:
# Run this cell.  The product of an integer and a float is what?
10 * 3.0

## Strings ##

In [ ]:
# Run this cell.
'baby yoda'

In [ ]:
# Run this cell.
"baby yoda isn't yoda"

In [ ]:
# Run this cell. What happened?
'baby yoda isn't yoda'

In [ ]:
# Run this cell. This is called concatenation
'straw' + 'berry'

In [ ]:
#  What results do you expect? Now, run this cell.
'straw' + ' ' + 'berry'

In [ ]:
# Run this cell. What do you notice?
'ha' * 10

In [ ]:
# Run this cell. What happened?
'ha' * 5.5

In [ ]:
# Run this cell. What results do you expect?
int('3')

In [ ]:
# Run this cell.
int('3.0')

In [ ]:
# Run this cell.
str(3)

In [ ]:
# Run this cell.
str(4.5)

## Types ##

For each of the following cells, think about the data type you expect and then 
run the cell to confirm.

In [ ]:
# What answer do you expect?  Now, run this cell
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

In [ ]:
type(2+2)

In [ ]:
type('2+2')

In [ ]:
type(2+2.2)

## Arrays ##

In [ ]:
# using make_array, create an array with the values of 1, 2, 3, 4 and 
# assign it to my_array
# print my_array
...
...

In [ ]:
# multiply all elements in my_array by 2
...

In [ ]:
# square all elements in my_array
...

In [ ]:
# add 1 to all elements in my_array
...

In [ ]:
# Run this cell.  What do you notice?
my_array

In [ ]:
# find the "length" of my_array, i.e. how many elements are in my_array?
...

In [ ]:
# create another array called another_array and assign to it the values of
# 2, 6, 8, 10, 21
# print out another_array
...
...

In [ ]:
# determine the length of another_array
...

In [ ]:
# find the average of my_array
...

In [ ]:
# find the sum of my_array
...

In [ ]:
# create another array called another, and assign to it the values
# 60, 70, 80, 90
# print out another
...

In [ ]:
# add the arrays my_array and another
...

In [ ]:
# create another array called yet_another, and assign to it the values
# 5, 6, 7
...

In [ ]:
# add my_array and yet_another.  What do you notice?
...

In [ ]:
# create an array called tunas that contain the elements
# bluefin, albacore, and jim
# print out tunas
...
...

## Columns of Tables are Arrays ##

In [ ]:
# assign to charlotte a table that only prints out the skyscrapers that are found
# in Charlotte
charlotte = ...
charlotte

In [ ]:
# Using the table charlotte, print a table that only shows the heights
charlotte.select('height')

In [ ]:
# Run this cell.  What do you notice?
np.average(charlotte.select('height'))

In [ ]:
# Run this cell.  How does this differ from the previous cell?
charlotte.column('height')

## Question ##
What do you notice is the difference between using .select versus using .column?

In [ ]:
# find the average height of the skyscrapers found in Charlotte
...

In [ ]:
# assign to dallas only the skyscrapers that are found in the city of Dallas
dallas = ...
dallas

In [ ]:
# find the difference between the average height of the skyscrapers
# in Dallas and the average height of the skyscrapers in Charlotte
...