In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lesson 11: Pivots and Joins #

## Cross-classification: grouping by two columns

In [ ]:
# Run this cell
sky = Table.read_table('data/skyscrapers_v2.csv')

In [ ]:
# Add a column named `age` to the table `sky` 
# The values under the column `age` should be the current age of each of the skyscrappers
# Drop the column `completed`

sky = ... 
sky.show(3)

In [ ]:
# Group the table sky by `material` and then by `city`
# Show the first 20 rows
...

In [ ]:
# Determine how many skyscrapers are made of a particular material
# in each city 
...

In [ ]:
# Run this cell
# What do you notice?
sky.pivot('material','city', values='height', collect=np.average).show()

In [ ]:
# Run this cell
# What do you notice?
sky_p = sky.pivot('material', 'city', values='height', collect=max)
sky_p.show()

In [ ]:
# Add a column to sky_p called `difference`
# The values in `difference` should be the difference between the height 
# of the steel skyscrapers and the concrete skyscrapers (A positive value)
sky_p = ...

sky_p

In [ ]:
# Sort sky_p by `difference` with the highest difference at the top
...

## Joins ##

In [ ]:
# Briefly discuss what this cell is doing
# Run this cell
drinks = Table().with_columns('Drinks', make_array(), 'Cafe', make_array(), 'Price', make_array())
drinks = drinks.with_rows([
    ['Chai Tea', 'Joe van Gogh', 4],
    ['Espresso', 'Monuts',  2],
    ['Latte',    'Monuts',  3],
    ['Espresso', "Cloche",   2]
])
drinks

In [ ]:
# Create a new table with the columns Coupon and Location
# Coupon should have the values 10, 20, and 5
# Location should have the values Joe van Gogh, Monuts, and 
# Joe van Gogh
# yes, Joe van Gogh is there twice
# Assign this new table to `discounts`
# Display `discounts`
discounts = ...
discounts

In [ ]:
# Match the rows in the table `drinks` using the values in the column
# `Cafe`, to the rows in the table `discounts` to the values in the
# column `Location`.  HINT: use .join
combined = ... 
combined

In [ ]:
# Briefly discuss what this cell is doing
# Run this cell
discounted_frac = 1 - combined.column('Coupon') / 100

combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)