In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arrays

In [ ]:
# Create an array called heights.  Assign to heights the values
# 67, 60, 71, 63, 65
heights = ...
heights

In [ ]:
# Divide 'heights' by 12
...

In [ ]:
# Determine how many elements are in height (it's lenght)
...

In [ ]:
# Find the sum of the values in the array 'heights'
...

In [ ]:
# Divide the sume of the 'heights' by the length of 'heights'
...

In [ ]:
# Is there another way to get the same answer as the above cell?
...

In [ ]:
#Create an array called strings_array.  Assign to strings_array the following strings
# ok, ya, and hm
strings_array = ...
strings_array

In [ ]:
# Run this cell
# What happened?
strings_array * 2

In [ ]:
'ha'*2

In [ ]:
# print the 3rd index item of the array heights
...

In [ ]:
# print the 0th index item of the array heights
...

In [ ]:
# print the 0th index item of the array strings_array
...

## Ranges ##

In [ ]:
# using np.arange, create an array with the values
# 0, 1, 2, 3, 4, 5, 6
...

In [ ]:
# using np.arange, create an array with the values
# 5, 6, 7, 8, 9, 10
...

In [ ]:
# using np.arange, create an array with the values
# 0, 3, 6, 9, 12, 15, 18
...

In [ ]:
# using np.arange, create an array with the values
# 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20
...

In [ ]:
# using np.arange, create an array with the values
# 0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9
...

In [ ]:
# using np.arange, create an array with the values
# 0, 1, 2, 3, 4, 5, 6, 7
a = ...
a

In [ ]:
# Run this cell.  What happened?
a.item(8)

In [ ]:
# print out the 4th index item of array a
...

In [ ]:
# using make_array, create an array with the strings
# pizza, ice cream, donuts, tacos, nachos, chicken, sushi
food = ...
food

In [ ]:
# print out the 2nd index item of array food
...

## Creating a Table from Scratch ##

In [ ]:
# Create an array called streets with the strings
# Englewood, Knox, Green, and Markham
streets = ...
streets

In [ ]:
# Create a table called southside that contains the column
# Streets with information from the array streets
southside = ...
southside

In [ ]:
# Add a column to the table southside 
# with the label Blocks from campus.  The values for 
# Blocks from campus should be all integers from 0 up to 
# and including 3. Reassign this new table to southside
southside = ...
southside

In [ ]:
# Run this cell.  What was produces?
southside.labels

In [ ]:
# What do expect the result to be?  Run this cell
southside.num_columns

In [ ]:
# What do expect the result to be?  Run this cell
southside.num_rows

## Selecting data in a column ##

In [ ]:
# Run this cell
movies = Table.read_table('data/movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
# Assign to gross_in_dollars the product of the Total Gross
# column and 1 million 
gross_in_dollars = ...

In [ ]:
# Determine the approximate number of tickets sold each year
# by using the array gross_in_dollars and dividing it by 
# the average ticket price each year
tix_sold = ...

In [ ]:
# Add a column to the movies table called
# Tickets sold that takes information from the array
# tix_sold
movies = ... 
movies.show(4)

In [ ]:
# Change the appearance of the column Tickets sold
# to standard form with commas
# Hint: use set_format
...

In [ ]:
# Create a line plot that shows the number
# of tickets sold for each year
# Hint: use the documentation found on Canvas
...

In [ ]:
# How would you display the movies that came out between 2000 and 2004?
...

In [ ]:
# Display the movie that came out in 2002
...

In [ ]:
# Display all Harry Potter movies
...

In [ ]:
movies.take(np.arange(2, 5))